{% extends 'index.html'%}
{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Empleado</title>
    {% block head%}
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static 'JS/index.js' %}">
    <link rel="stylesheet" href="{% static 'CSS/RegisterEmpleado.css' %}">
    {% endblock%}
</head>

<body>
    {% block content%}
    <div class="container mt-4">
        <form action="" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="usuario">Nombre de usuario del Empleado:</label>
                <input type="text" class="form-control" name="Usuario" id="usuario">
            </div>

            <div class="row form-group">
                <label for="contraseñaEmpleado">Contraseña:</label> 
                <input type="password" id="ContraseñaEmpleado" class="form-control" name="pass-empleado" pattern="[A-Za-z0-9\s,.-]+" required>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email del Empleado</label>
                <input type="email" class="form-control" name="mail" id="Email">
            </div>

            <div class="form-group">
                <label for="nombre">Nombre del Empleado:</label>
                <input type="text" class="form-control" name="Nombre" id="nombre" required>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido del Empleado:</label>
                <input type="text" class="form-control" name="Apellido" id="apellido" required>
            </div>

            <div class="row form-group">
                
                <label for="lbl-tipo-documento">Tipo Documento:</label> 
                <input type="text" id="tipo-documento-empleado" class="form-control" name="tipo-documento-empleado" required>
                </div>
            </div>
        
            <div class="row form-group">
                <label  for="lbl-tipo-documento">Numero Documento:</label> 
                <input type="text" id="nro-documento-empleado" class="form-control" name="nro-documento-empleado" required>
                </div>
            </div>
        
            <div class="form-group">
                <label for="sexo">Sexo:</label>
                <select class="form-control" id="sexo" name="sexo" placeholder="Elija el sexo del Empleado" required>
                    <option value="" disabled selected>-</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
            </div>
  
            <div class="form-group">
                <label for="raza">Sucursal:</label>
                <select class="form-control" id="Sucursal" name="Sucursal" placeholder="Elija la sucursal" required>
                    <option value="" disabled selected>-</option>
                    
                        <option value="{{ sucursal.direccion }}">{{ sucursal.direccion }}</option>
                    
                </select>
            </div>

            <div class="form-group">
                <label for="fechaNacimiento">Fecha De Nacimiento del Empleado:</label>
                <input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento" required>
            </div>

            <div class="form-group">
                <label for="Registro">Fecha De Ingreso del Empleado:</label>
                <input type="date" class="form-control" name="FechaIgreso" id="FechaIngreso" required>
            </div>

            
            <button type="submit" class="boton-bonito">CREATE</button><br><br><br>
        </form>
    </div>
    {% endblock%}
    
</body>
</html>